<div class='header'>
  <a class="header-logo" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
  
  <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img width="70" height="70" alt="{{ .Site.Title }}" src="{{ .Site.Params.logo.standard | relURL }}" /></a>
  </div>
  <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img  width="70" height="70" alt="{{ .Site.Title }}" src="{{ .Site.Params.logo.mobile | relURL }}" /></a>
  </div>
  
  <div class="menu-main">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq (.URL | relLangURL) ($currentPage.RelPermalink | relLangURL)) }}
      <li class="menu-item-{{ .Name | lower }} {{ if $active }}active{{ end }}">
        <a href="{{.URL}}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      </li>
      {{end}}
    </ul>
  </div>
  <div id="toggle-menu-main-mobile" class="hamburger-trigger">
    <button class="hamburger">Menu</button>
  </div>
</div>
